body {
  background-color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0 !important;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  td,
  th,
  span,
  a,
  input,
  button,
  option,
  select {
    line-height: 1.5em;
    font-weight: 400;
  }
}

.container {
  &-navbar {
    position: fixed;
    top: 0;
    height: 50px;
    background-color: teal;
    width: 100%;
    z-index: 2;
  }
  &-app {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    margin: 3% 5% 8%;
    width: 90%;
    height: 80%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      darken(teal, 10%) 0%,
      darken(teal, 5%) 35%,
      teal 100%
    );
    color: white;
    border-radius: 20px;
    h1,
    h2,
    h3 {
      margin-left: 3%;
    }
    a {
      color: inherit;
      cursor: pointer;
    }
  }
}
